.form-div{
    position: absolute;
    left: 50%;    
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid grey;
    border-radius: 8px 8px;
    background-color: #c3c3c3;
}