* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

body {
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.slide-down {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s;
}

.slide-up {
  transform: translateY(-100%);
  opacity: 1;
  transition: 0.5s;
}

.App {
  text-align: center;
  height: 100%;
}

.inner-container {
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
